@charset "utf-8";
h1, h3, p {
	text-align: center;
}
#main {
	margin-top: 80px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

#mainH {
	padding-bottom: 20px;
}
.navbar.navbar-default {
	border-width: 0;
	border-radius: 0px;
	background-color: #FFFFFF;
	margin-top: 20px;
}

footer {
	margin-top: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #383838;
	color: #F5F5F5;
	text-align: center;
}
.img-fill {
	width: 100%;
}
.warpper {
	padding-left: 0px;
	padding-right: 0px;
}
.thumb-img {
	width: 100%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.thumbnail {
	transition: .3s;
}
.thumbnail:hover {
	transform: scale(1.1, 1.1);
	transition: .3s transform;
	box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
}
.content {
	text-align: justify;
	max-width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	margin-bottom: 120px;
}
.content-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 10px;
}
.content-heading {
	margin-top: 60px;
	margin-bottom: 10px;
}
.heading {
	text-shadow: 1px 1px #989898;
}
.about {
	max-width: 65%;
	margin-right: auto;
	margin-left: auto;
}
.about-h3 {
	text-align: left;
}
.about {
	text-align: left;
}
#about-h2 {
	margin-top: 90px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 120px;
	text-align: center;
}
